#searchPane {
    -fx-background-color: #4F4F4F;
}

#filterBox {
    -fx-border-width: 1px;
    -fx-border-color: #6E6E6E;
    -fx-background-color: #3D3D3D;
    -fx-padding: 10px 10px 10px 10px;
}

#searchBox {
    -fx-border-width: 1px;
    -fx-border-color: #6E6E6E;
    -fx-background-color: #3D3D3D;
    -fx-padding: 10px 10px 10px 10px;
}

.combo-box-base {
    -fx-background-color: #6E6E6E;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.combo-box-base:editable > .arrow-button {
    -fx-background-color: #404040;
}

.combo-box-base > .arrow-button > .arrow {
    -fx-background-color: #afafaf;
}

.combo-box-base:editable > .text-field {
    -fx-background-color: #6E6E6E;
    -fx-text-fill: white;
}

.bigLabel {
    -fx-text-fill: white;
    -fx-font-size: 21px;
}

.smallLabel {
    -fx-text-fill: #b1b1b1;
    -fx-font-size: 15px;
}

#filterButton {
    -fx-background-image: url("./images/systemUse/filter.png");
    -fx-background-size: 14px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

#searchButton {
    -fx-background-image: url("./images/systemUse/Search.png");
    -fx-background-size: 14px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

/*表总体*/
.table-view {
    /*主色调底色，但是item也会添加一个浅色*/
    -fx-base: #3D3D3D;
    /*item背景色*/
    -fx-control-inner-background: #6E6E6E;
    /*总的背景色 包括蓝色提示框*/
    -fx-background-color: #3D3D3D;
    /*两个border的颜色透明*/
    -fx-table-cell-border-color:  transparent;
    -fx-table-header-border-color: transparent;
    /*内边距*/
    /*-fx-padding:5;*/
}

/*搞定背景色*/
.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler{
    /*-fx-size: 35;*/
    /*-fx-border-width: 0 0 1 0;*/
    /*让header透明*/
    -fx-background-color: transparent;
    /*!*设置border的颜色，就是那根下划线*!*/
    /*-fx-border-color:*/
    /*transparent*/
    /*transparent*/
    /*derive(-fx-base, 80%)*/
    /*transparent;*/

    /*!*调整border和字体的距离*!*/
    /*-fx-border-insets: 0 10 1 0;*/
}

/*表头文字*/
.table-view .column-header .label {
    -fx-font-size: 17px;
    /*-fx-font-family: "Segoe UI Light";*/
    /*-fx-text-fill: white;*/
    -fx-alignment: center-left;
    /*-fx-opacity: 1;*/
}

.table-view .column-header {
    -fx-pref-height: 42px;
}

/*选中时的颜色*/
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

